# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data
repo

# runs 目录中忽略除了 mods 以外的内容
runs/client/config
runs/client/downloads
runs/client/logs
runs/client/resourcepacks
runs/client/resources
runs/client/saves
runs/client/crash-reports
runs/client/command_history.txt
runs/client/usercache.json
runs/client/usernamecache.json
runs/client/options.txt
runs/data
runs/gameTestServer
runs/junit

# generated
src/generated

# local libs
libs/

# OS files
.DS_Store
Thumbs.db
